@reboot sleep 5 && echo === 开机启动时间: $(date +\%Y-\%m-\%d\ \%H:\%M:\%S) === >> /tmp/weather_run_time.log && /Users/用户名/.config/weather/weather-zh.sh > /tmp/weather_report.txt 2>&1

*/10 * * * *  echo === 执行时间: $(date +\%Y-\%m-\%d\ \%H:\%M:\%S) === >> /tmp/weather_run_time.log && /Users/用户名/.config/weather/weather-zh.sh > /tmp/weather_report.txt 2>&1
