[Unit]
Description=Update Fastfetch Weather Cache
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "while true; do bash %h/.config/waybar/scripts/weather-zh.sh | jq -r .text > /tmp/weather.txt; sleep 900; done"
Restart=always

[Install]
WantedBy=default.target

