/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     rgba(40, 40, 40, 1.0);
    background-alt: rgba(53, 53, 53, 1.0);
    foreground:     rgba(235, 219, 178, 1.0);
    selected:       rgba(131, 165, 152, 1.0);
    hover:          rgba(131, 165, 152, 0.21);
    active:         rgba(184, 187, 38, 1.0);
    urgent:         rgba(251, 73, 52, 1.0);
}
