/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     rgba(245, 231, 222, 1.0);
    background-alt: rgba(235, 220, 210, 1.0);
    foreground:     rgba(52, 48, 45, 1.0);
    selected:       rgba(217, 119, 66, 1.0);
    hover:          rgba(217, 119, 66, 0.21);
    active:         rgba(191, 143, 96, 1.0);
    urgent:         rgba(178, 54, 54, 1.0);
}
